Angular/TypeScript para Angular/package-lock.json
Angular/TypeScript para Angular/package.json
Angular/TypeScript para Angular/node_modules/.bin/tsc
Angular/TypeScript para Angular/tsconfig.json
Angular/TypeScript para Angular/bun.lockb
Angular/LifeCycle Hooks Angular/my-app/.editorconfig
