/* You can add global styles to this file, and also import other style files */
body {
  background-color: black ;
  color:aliceblue;
}

h1 {
  color: yellow;
}

button {
  padding: 10px;
  border-radius: 10px;
}