.context {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background {
  height: 100vh;
  position: absolute;
  left: 0;
}

.info {
  width: 60%;
  margin-right: 90px;
  margin-top: 40px;
  color: white;
}

input {
  border: 1px solid #999999;
  border-radius: 22px;
  min-width: 250px;
  width: 80%;
  margin-right: 12px;
  background: transparent;
  font-size: 18px;
  padding: 10px;
  color: #ffffff;
}

button {
  border: 1px solid #999999;
  border-radius: 22px;
  margin-right: 12px;
  background: #2d333b;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}

.profile {
  display: flex;
  margin: 20px 0;
}

.image_profile {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 2px solid #e5e5e5;
  margin-right: 32px;
}

.profile h3{
  color: #999999;
  font-size: 24px;
  margin: 0;
}
.profile span{ 
  display: block;
  color: #999999;
  font-size: 12px;
  margin: 0;
}

.profile p { 
  color: #999999;
  font-size: 12px;
  margin: 20px 0 0 0;
}

.repositorio {
  font-size: 32px;
  color: #ffffff;
  margin: 12px 0;
  text-align: center;
}

.profileButton {
  
}